@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table datatable">
    <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Numero de Expediente</th>
            <th scope="col">Nombre de Solicitante</th>
            <th scope="col">Nombre de Solicitante</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
@*        @foreach (var expediente in Model.Expedientes)
        {
        <tr>
            <td><a href="@Url.Action("DetalleNnaEstadoAdoptabilidad", "ConsolidacionFamiliar", new { id = expediente.Id })">@expediente.NumeroExpediente</a></td>
            <td>@</td>
            <td>@</td>
            <td>@</td>
        </tr>
        }*@
    </tbody>
</table>