
<p><h3 class="card-title">Detalles de Pre Emparejamiento</h3></p>

<form method="post" action="Create">
    <input type="hidden" name="ExpedienteNna" value="@ViewBag.expedienteNna" />
    <input type="hidden" name="SolicitudAdopcion" value="@ViewBag.solicitudAdopcion" />

    <div class="row mb-3">
        <div class="col-sm-4">
            <input type="text" name="Usuario" class="form-control" placeholder="Nombre de Encargado">
        </div>
        <div class="col-sm-2">
            <input type="date" name="Fecha" class="form-control" placeholder="Fecha de Creacion">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <textarea class="form-control"  name="Observaciones" style="height: 100px" placeholder="Observaciónes"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <input type="file" name=""  class="form-control" placeholder="Anexos">
        </div>
    </div>
    <div class="row mb-3">
        <div class="text-left">
            <button type="submit" class="btn btn-outline-primary">Emparejar</button>
            <button type="reset" class="btn btn-secondary">Cancelar</button>
        </div>
    </div>
</form>