@model IList<Dinaf.Sismo.Application.ConsolidacionFamiliar.Emparejamientos.DTOs.EmparejamientoDto>

<table class="table datatable">
    <thead>
        <tr>
            <th scope="col">Numero de Expediente</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emparejamiento in Model)
        {
            <tr>
                <td><a href="@Url.Action("Details", "Emparejamientos", new { expedienteNna = emparejamiento.DatosNna.NumeroExpediente })">@emparejamiento.DatosNna.NumeroExpediente</a></td>
                <td>@emparejamiento.DatosNna.Nombre</td>
                <td>Adoptable</td>
            </tr>
        }
    </tbody>
</table>