
@{
}
<p><h3 class="card-title">Detalles de Comite de Asignación</h3></p>
<form>
    <div class="row mb-3">
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Nombre de Encargado">
        </div>
        <div class="col-sm-2">
            <input type="date" class="form-control" placeholder="Fecha de Creacion">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <textarea class="form-control" style="height: 100px" placeholder="Observaciónes"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <input class="form-control" type="file" id="formFile" placeholder="Anexos">
        </div>
    </div>
    <div class="row mb-3">
        <div class="text-left">
            <a href="@Url.Action("Index", "Emparejamientos")" type="button" class="btn btn-outline-primary">Emparejar</a>
            <button type="reset" class="btn btn-secondary">Cancelar</button>
        </div>
    </div>
</form>