@model int 

@{
    Layout = null;
}

<div class="video-wrap">
    <video id="video" width="700" height="400" playsinline autoplay></video>
</div>

<div class="controller">
    <button id="snap">Capture</button>
</div>

<canvas id="canvas" width="700" height="400" style="visibility:hidden"></canvas>

<script>
    'use strict';

    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const snap = document.getElementById("snap");

    const constraints = {
        audio: false,
        video: { width: 500, height: 500 }
    };

    async function init() {
        try {
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            window.stream = stream;
            video.srcObject = stream;
        } catch (e) {
            console.log(`navigator.getUserMedia error:${e.toString()}`);
        }
    }

    init();

    var context = canvas.getContext('2d');

    snap.addEventListener("click", function() {
        context.drawImage(video, 0, 0, 500, 500);
        let image_data_url = canvas.toDataURL('image/jpeg');

        $.ajax({
            url: '@Url.Action("Create", "Camara")',
            type: 'POST', 
            data: { PersonaId: @Model, FotoBase64: image_data_url},
            success: function(result) {
                window.close();
        }});

    });

    window.onunload = () => window.opener.location.reload();
</script>

<script src="~/lib/jquery/dist/jquery.js"></script>