@model Dinaf.Sismo.Application.Expedientes.DTOs.ListExpedientesDto

@{
}
<table class="table datatable">
    <thead>
        <tr>
            <th scope="col">Numero de Expediente</th>
            <th scope="col">Creacion</th>
            <th scope="col">Actualmente</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Representante Legal</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expediente in Model.Expedientes)
        {
        <tr>
            <th>@expediente.NumeroExpediente</th>
            <td>@expediente.FechaCreacion</td>
            <td>Oficina Regional Centro Oriente</td>
            <td>Alma Eliuth Ponce</td>
            <td>Denis Ariel Diaz</td>
            <td>Sowel Alejandro Mejia</td>
            <td><a href="@Url.Action("Details", "Expedientes", new { id = expediente.Id })" type="button" class="btn btn-outline-primary btn-sm">Detalles</a></td>
        </tr>
        }
    </tbody>
</table>